fundamentals/.DS_Store
fundamentals/oop/dojo_pets/.DS_Store
fundamentals/oop/dojo_pets/modules/__pycache__/dojo_pets_ninja.cpython-310.pyc
fundamentals/oop/dojo_pets/modules/__pycache__/dojo_pets_pet.cpython-310.pyc
.DS_Store
flask/.DS_Store
.DS_Store
.DS_Store
