<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Dojo Show</title>
    </head>
    <body>
        <h1>{{dojo.name}}</h1>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            {% for ninja in all_ninjas %}
            <tr>
                <td>{{dojo.ninjas.first_name}}</td>
                <td>{{dojo.ninjas.last_name}}</td>
                <td>{{dojo.ninjas.age}}</td>
            </tr>
            <tr>
                <td>{{ninjas.first_name}}</td>
                <td>{{ninjas.last_name}}</td>
                <td>{{ninjas.age}}</td>
            </tr>
            <tr>
                <td>{{this_ninja.first_name}}</td>
                <td>{{this_ninja.last_name}}</td>
                <td>{{this_ninja.age}}</td>
            </tr>
            {% endfor %}
        </table>
        <p><a href="/dojos">Home</a></p>
    </body>
</html>
