<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Dojos</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="split">
                <div>
                    <h1>New Dojo</h1>
                    <form action="/new_dojo" method="POST">
                        <label for="name">Name:</label>
                        <input type="text" name="name" />
                        <p><input type="submit" value="Create" /></p>
                    </form>
                </div>
            </div>
            <div class="split">
                <div>
                    <h1>All Dojos</h1>
                    {% for dojo in all_dojos %}
                    <p>{{dojo.name}}</p>
                    {% endfor %}
                    <a href="/ninjas.html">Add Ninja</a>
                </div>
            </div>
        </div>
    </body>
</html>
