<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Success Page</title>
</head>
<body>
    <div class="box_success">
        <h3>The email address <span id="last_email">( {{ last_email.email }} )</span> you entered was validated. Enjoy reading the fascinating list of others, below.</h3>
    </div>
    <div>
        <table>
            <tr>
                <th>Email Address</td>
                <th>Created At</td>
            </tr>
                {% for email in emails %}
            <tr>
                <td>{{email.email}}</td>
                <td>{{email.created_at}}</td>
            </tr>
                {% endfor %}
        </table>
    </div>
    <a href="/">Home</a>
</body>
</html>