<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add | Edit</title>
</head>
<body>
    <div class="wrapper">
        <div class="topbar_div">
            <div class="title_div">
                <h1>Add new recipe</h1>
            </div>
            <div class="nav_div">
                <ul>
                    <li><a href="/success">Summaries</a></li>
                    <li><a href="/exit">Logout</a></li>
                </ul>
                <!-- <a href="/">Home</a>
                <form action="/exit" method="post">
                    <button type="submit">Logout</button>
                </form> -->
            </div>
        </div>

        <div class="add_form">

<div class="div_flash">
    {% with messages = get_flashed_messages(category_filter=['recipe']) %}
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

            <form action="/create/recipe" method="post">
                <div class="add_row">
                    <div class="add_left">
                        <label for="r_name">Recipe name:</label><br>
                        <input type="text" id="r_name" name="r_name" value=""><br>
                    </div>    
                    <div class="add_right">
                        <label for="last_made">Date made:</label><br>
                        <input type="date" id="last_made" name="last_made" value=""><br>
                    </div>
                </div>
                <div class="add_row">
                    <div class="add_left">
                        <p>Please provide a recipe description</p>
                        <textarea name="r_info" rows="5" cols="33"></textarea>
                    </div>
                    <div class="add_right">
                        <p>Completion time less than 30 minutes</p>
                        <input type="radio" id="Yes" name="under30" value="Yes" checked="checked">
                        <label for="Yes">Yes</label><br>
                        <input type="radio" id="No" name="under30" value="No">
                        <label for="No">No</label><br>
                    </div>
                </div>
                <div class="add_row">
                    <div class="add_left">
                        <p>Please list recipe instructions</p>
                        <textarea name="instructions" rows="10" cols="33"></textarea></div>
                    <div></div>
                </div>
                <p><button type="submit">Add!</button></p>
            </form>
        </div>
    </div>
</body>
</html>