<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Details View</title>
</head>
<body>
    <div class="wrapper">
        <div class="topbar_div">
            <div class="title_div">
                <h1>Welcome, {{user.f_name}}!</h1>
            </div>
            <div class="nav_div">
                <ul>
                    <li><a href="/success">Summaries</a></li>
                    <li><a href="/exit">Logout</a></li>
                </ul>
            </div>
        </div>
        <h2>This recipe: "{{ recipe.r_name }}"</h2>

        <div class="recipe_detail">
            <div class="detail_row">
                <div class="detail_left"><p>Description:</p></div>
                <div class="detail_right"><p>{{recipe.r_info}}</p></div>
            </div>
            <div class="detail_row">
                <div class="detail_left"><p>Under 30 minutes:</p></div>
                <div class="detail_right"><p>{{recipe.under30}}</p></div>
            </div>
            <div class="detail_row">
                <div class="detail_left"><p>Instructions:</p></div>
                <div class="detail_right"><p>{{recipe.instructions}}</p></div>
            </div>
            <div class="detail_row">
                <div class="detail_left"><p>Date Last Made:</p></div>
                <div class="detail_right"><p>{{recipe.last_made}}</p></div>
            </div>
        </div>
    </div>
</body>
</html>